# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true
[*]
generated_code = true
dotnet_diagnostic.CS0659.severity = none
dotnet_diagnostic.CS0162.severity = none
