@code {
    [Parameter]
    public string LogMessages { get; set; }
}

@namespace traderui.Client.Components

<div class="px-4 py-2 px-6">
    <h3>IBKR Logs</h3>
    <pre class="overflow-x-hidden">
        @LogMessages
     </pre>
</div>
